*.[oa]
.depend
autogen
Dispatcher/DispatcherComp
RawDataLogger/RawDataLoggerComp
RawDataMonitor/RawDataMonitorComp
RawDataReader/RawDataReaderComp
.confFilePath
omninames-colors.kek.jp.bak
omninames-colors.kek.jp.log
rtc.conf
rtc*.log
bs/draw_graph/draw_graph
bs/read_file_decode/read_file_decode
bs/read_file_decode_graph/read_file_decode_graph
bs/read_nc_decode/read_nc_decode
bs/read_nc_decode_graph/read_nc_decode_graph
bs/fread/fread_sample
template/ex1/sample
template/ex2/main
