*.[oa]
.depend
autogen
a.out
Dispatcher/DispatcherComp
RawDataLogger/RawDataLoggerComp
RawDataMonitor/RawDataMonitorComp
RawDataReader/RawDataReaderComp
.confFilePath
omninames-colors.kek.jp.bak
omninames-colors.kek.jp.log
rtc.conf
rtc*.log
bs/draw_graph/draw_graph
bs/draw_graph_class/draw-graph-class
bs/read_file_decode/read_file_decode
bs/read_file_decode_graph/read_file_decode_graph
bs/read_nc_decode/read_nc_decode
bs/read_nc_decode_graph/read_nc_decode_graph
bs/fread/fread_sample
bs/byte_order/sample
ex/ex00/sample
ex/ex01/sample
ex/ex02/main
ex/ex03/byte_order
ex/ex04/extract_from_buf
ex/create-pdf/ex.*
ex/create-pdf/ex*.*
ex/create-pdf/*.dvi
ex/create-pdf/*.out
ex/create-pdf/*.aux
ex/create-pdf/*.log
ex/create-pdf/*.pdf
bs/create-pdf/daqmw-tc-bs.aux
bs/create-pdf/daqmw-tc-bs.dvi
bs/create-pdf/daqmw-tc-bs.log
bs/create-pdf/daqmw-tc-bs.pdf
bs/create-pdf/daqmw-tc-bs.tex
