*.[oa]
.depend
autogen
Dispatcher/DispatcherComp
RawDataLogger/RawDataLoggerComp
RawDataMonitor/RawDataMonitorComp
RawDataReader/RawDataReaderComp
.confFilePath
omninames-colors.kek.jp.bak
omninames-colors.kek.jp.log
rtc.conf
rtc*.log
bs/cxx/readfile
